<h1>Reviews Index</h1>
<ul>
    <% @reviews.each do |review| %>
        <li>
            <%= link_to review.game.name, review_path(review) %> review by <%= link_to review.user.username, user_path(review.user) %>
        </li>
    <% end %>
</ul>